header {
	width:100%;
	display:block;
	position:relative;
}
.header {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	background: $header-background;
	color: $header-color;
}